.body-frame {
    display: flex;
    width: 1130px;
    height: 680px;
    padding: 10px 30px 30px 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
    align-self: stretch;
}

.title-frame {
    display: flex;
    width: 1090px;
    height: 59px;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title-label {
    height: 59px;
    flex: 1 0 0;
    color: #000;
    font-family: "Rounded Mplus 1c";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.table-frame {
    display: flex;
    width: 1130px;
    height: 530px;
    padding: 20px 0px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 20px;
    background: #F4F4F4;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.date-status-frame {
    display: flex;
    width: 1090px;
    height: 70px;
    padding: 0px 20px;
    align-items: flex-start;
    gap: 110px;
    align-self: stretch;
}

.date-frame {
    display: flex;
    width: 290px;
    height: 70px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.meta-data-frame {
    display: flex;
    width: 290px;
    height: 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}
.meta-data-label {
    color: #7D7D7D;
    font-family: "Rounded Mplus 1c Bold";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.data-big-label {
    color: #7D7D7D;
    font-family: "Rounded Mplus 1c";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.date-label-frame {
    display: flex;
    width: 230px;
    height: 20px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
}

.calendar-frame {
    display: flex;
    width: 260px;
    height: 20px;
    padding: 10px 15px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.date-label-frame {
    display: flex;
    width: 230px;
    height: 20px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
}

.date-label {
    color:  #7D7D7D;
    font-family: "Rounded Mplus 1c";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



