input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    width: 30px;
    height: 30px;
    border: none;
    background: url('../images/Calendar.png') no-repeat center center;
    background-size: cover;
    cursor: pointer;
}

/* Hide the default date input icon */
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

/* Hide the text input */
input[type="date"]::-webkit-datetime-edit,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
    display: none;
}


.title-frame {
    display: flex;
    width: 1130px;
    height: 59px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}

.title-label {
    color: #000;
    font-family: "Rounded Mplus 1c";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.fill-label {
    color: #7D7D7D;
    font-family: "Rounded Mplus 1c";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.normal-text {
    color: #000;
    text-align: center;
    font-family: "Rounded Mplus 1c";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.table-text-bold-white {
    color: #FFF;
    text-align: center;
    font-family: "Rounded Mplus 1c Bold";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bold-normal {
    color: #7D7D7D;
    font-family: "Rounded Mplus 1c Bold";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.table-text {
    color: #7D7D7D;
    text-align: center;
    font-family: "Rounded Mplus 1c";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.table-text-bold {
    color: #05AAEC;
    font-family: "Rounded Mplus 1c Bold";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container {
    display: flex;
    width: 1130px;
    height: 570px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.category-container {
    display: flex;
    width: 633px;
    height: 510px;
    padding: 30px 0px;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    border-radius: 20px;
    background: #F4F4F4;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.search-frame {
    display: flex;
    width: 593px;
    height: 50px;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-shrink: 0;
    align-self: stretch;
    flex-wrap: wrap;
}

.search-bar {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    flex: 1 0 0;
    border-radius: 20px;
    border: 3px solid #D9D9D9;
}

.categories-frame {
    display: flex;
    width: 633px;
    padding: 0px 20px;
    align-items: center;
    align-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.category-box {
    display: inline-flex;
    padding: 20px 25px;
    align-items: center;
    width: 131px;
    height: 150px;
    border-radius: 20px;
    border: 2px dashed #7D7D7D;
}

.icon-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.image-button {
    width: 80px;
    height: 80px;
}

.pos-container {
    display: flex;
    width: 400px;
    height: 570px;
    padding: 30px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: #F4F4F4;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.pos-main-frame {
    display: flex;
    width: 400px;
    height: 510px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    flex: 1 0 0;
    align-self: stretch;
}

.customer-frame {
    display: flex;
    width: 360px;
    height: 50px;
    padding: 0px 20px;
    align-items: center;
    gap: 41px;
}

.select-customer-frame {
    display: flex;
    width: 250px;
    height: 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}
.select-customer {
    display: flex;
    width: 210px;
    height: 30px;
    padding: 10px 20px;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    border: 3px solid #D9D9D9;
    color: #7D7D7D;
    font-family: "Rounded Mplus 1c";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.add-button {
    display: flex;
    width: 69px;
    height: 48px;
    padding: 3px 19px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    background: #05AAEC;
}

.plus-image {
    width: 20px;
    height: 20px;
}

.order-id-and-date-container {
    display: flex;
    width: 400px;
    height: 50px;
    padding: 0px 20px;
    align-items: center;
    gap: 30px;
}

.order-id-container {
    display: flex;
    width: 165px;
    height: 50px;
    padding: 10px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20px;
    background: #D9D9D9;
}

.order-id-label-frame {
    display: flex;
    width: 111px;
    height: 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.order-id-label {
    color: #7D7D7D;
    font-family: "Rounded Mplus 1c Bold";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.calender-container {
    display: flex;
    width: 165px;
    height: 50px;
    padding: 10px 15px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 3px solid #D9D9D9;
}

.calendar-label {
    width: 82px;
    height: 30px;
    flex-shrink: 0;
    color: #7D7D7D;
    font-family: "Rounded Mplus 1c";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.calendar-icon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

.table-container {
    width: 400px;
    height: 135px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.meta-data-container {
    width: 400px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: #D9D9D9;
}

.meta-data-frame {
    width: 377px;
    height: 22px;
    display: flex;
    align-items: center;
    gap: 7px;
}

.service-meta-data {
    display: flex;
    width: 113px;
    height: 22px;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
}


.table-text {
    align-self: stretch;
    color: #7D7D7D;
    text-align: center;
    font-family: "Rounded Mplus 1c";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}







.popup-container {
    display: flex;
    width: 610px;
    height: 377px;
    padding: 20px 0px;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: #F4F4F4;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.popup-main-frame {
    height: 337px;
    display: flex;
    width: 610px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.popup-title-frame {
    display: flex;
    padding: 0px 20px;
    align-items: flex-start;
    align-self: stretch;
}

.popup-title {
    color: #7D7D7D;
    font-family: "Rounded Mplus 1c Bold";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.popup-line {
    width: 610px;
    height: 1px;
    background: #D9D9D9;
}

.popup-search-frame {
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.popup-search-bar {
    display: flex;
    padding: 10px 30px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 20px;
    border: 3px solid #D9D9D9;
    color: #7D7D7D;
    font-family: "Rounded Mplus 1c";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.services-category-frame {
    display: flex;
    width: 610px;
    height: 150px;
    padding: 5px 20px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}


.services-category-box {
    display: flex;
    padding: 20px 25px;
    align-items: center;
    border-radius: 20px;
    border: 2px dashed #7D7D7D;
}

.service-type-box {
    display: flex;
    padding: 20px 25px;
    align-items: center;
    border-radius: 20px;
    border: 2px dashed #7D7D7D;
}

.customer-box {
    display: flex;
    padding: 20px 25px;
    align-items: center;
    border-radius: 20px;
    border: 2px dashed #7D7D7D;
}

.services-category-box {
    display: flex;
    padding: 20px 25px;
    align-items: center;
    border-radius: 20px;
    border: 2px dashed #7D7D7D;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.services-category-box:hover {
    /* Hover effect for the services-category-box */
    background-color: #e9e9e9;
}

.services-category-box-selected {
    /* Styles for the selected services-category-box */
    border: 2px solid #007bff;
    background-color: #cce5ff;
}

.services-main-frame {
    display: flex;
    width: 80px;
    height: 110px;
    padding: 20px 25px;
    align-items: center;
    flex-shrink: 0;
}

.image {
    width: 80px;
    height: 80px;
}

.services-label {
    width: 106px;
    height: 30px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: "Rounded Mplus 1c";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.services-footer-frame {
    width: 570px;
    height: 65px;
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 15px;
    align-self: stretch;
}

.popup-small-line {
    width: 570px;
    height: 100px;
    background: #D9D9D9;
}

.services-button-frame {
    display: flex;
    width: 171px;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.button {
    display: flex;
    width: 88px;
    height: 50px;
    padding: 10px 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    background: #05AAEC;

    color: #FFF;
    font-family: "Rounded Mplus 1c Bold";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.category-box {
    display: flex;
    width: 80px;
    height: 121px;
    padding: 29px 25px;
    flex-direction: column;
    align-items: flex-start;
    gap: 27px;
    flex-shrink: 0;
}

.pos-box {
    background-color: #F4F4F4;
    display: flex;
    width: 400px;
    height: 570px;
}

.category-container {
    display: flex;
    width: 634px;
    align-items: center;
    align-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-right: 0px;
}

.image-container {
    display: flex;
    width: 135px;
    height: 150px;
    padding: 13px 27px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20px;
    border: 2px dashed #7D7D7D;
}

.image-label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
}


.label {
    color: #000;
    text-align: center;
    font-family: "Rounded Mplus 1c";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modal-body {
    display: flex;
    width: 570px;
    height: 310px;
    padding: 5px 20px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    align-self: stretch;
    flex-wrap: wrap;
}

.data-container {
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
}

.row-container {
    display: flex;
    width: 400px;
    justify-content: center;
    align-items: flex-start;
    gap: 7px;
    align-self: stretch;
}

.service-data {
    display: flex;
    width: 113px;
    height: 44px;
    flex-direction: column;
    justify-content: center;

}

.service-type-table-container {
    display: flex;
    width: 100px;
    height: 22px;
    justify-content: center;
    align-items: center;
  
}
.service-type-label {
    color: var(--Text, #7D7D7D);
    font-family: "Rounded Mplus 1c Bold";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.service-category-table-container {
    display: flex;
    width: 100px;
    height: 22px;
    justify-content: center;
    align-items: center;
}
.service-category-label {
    color: var(--Main, #05AAEC);
    font-family: "Rounded Mplus 1c Bold";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.color-data {
    display: flex;
    width: 48px;
    height: 44px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.color-frame {
    display: flex;
    width: 30px;
    height: 30px;
    padding: 7px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #7D7D7D;
}
.color-picker{
    width: 10px;
    height: 15px;
    border: none;
}

.rate-data {
    display: flex;
    width: 100px;
    height: 44px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.rate-data-frame {
    display: flex;
    width: 62px;
    height: 30px;
    padding: 7px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #D9D9D9;
}

.rate-label-frame {
    display: flex;
    width: 42px;
    height: 22px;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.rate-label {
    color: var(--Text, #7D7D7D);
    font-family: "Rounded Mplus 1c";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;
}

.weight-data {
    display: flex;
    width: 95px;
    height: 44px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.weight-data-frame {
    display: flex;
    width: 95px;
    height: 44px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.weight-button {
    display: flex;
    width: 95px;
    height: 30px;
    align-items: center;
}

.minus-button {
    display: flex;
    width: 25px;
    height: 30px;
    padding: 2px 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
    background: #8592B0;
}

.weight-box-frame {
    display: flex;
    width: 45px;
    height: 30px;
    padding: 4px 0px;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid  #D9D9D9;
    border-bottom: 2px solid  #D9D9D9;
}

.weight-label-frame {
    display: flex;
    width: 42px;
    height: 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.weight-label {
    color: #7D7D7D;
    font-family: "Rounded Mplus 1c";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.plus-button {
    display: flex;
    width: 25px;
    height: 30px;
    padding: 2px 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
    background: #05AAEC;
}

.footer-frame {
    display: flex;
    width: 400px;
    height: 200px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
}

.total-and-save-button-frame {
    display: flex;
    width: 360px;
    height: 104px;
    padding: 0px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.total-frame {
    display: flex;
    width: 360px;
    height: 44px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}

.gross-label-container {
    display: flex;
    width: 360px;
    height: 22px;
    align-items: flex-start;
    align-self: stretch;
}

.gross-label {
    color: #7D7D7D;
    font-family: "Rounded Mplus 1c Bold";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.currency-label {
    color: #2CCD8A;
    font-family: "Rounded Mplus 1c Bold";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.button-frame {
    display: flex;
    width: 360px;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

.clear-button {
    display: flex;
    width: 103px;
    height: 50px;
    padding: 10px 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: #E93B68;

    color: #FFF;
    font-family: "Rounded Mplus 1c Bold";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.save-button {
    display: flex;
    width: 174px;
    height: 50px;
    padding: 10px 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: #05AAEC;

    color: #FFF;
    font-family: "Rounded Mplus 1c Bold";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}